@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green-100: oklch(96.2% .044 156.743);
  --color-green-800: oklch(44.8% .119 151.328);
  --color-red-50: oklch(97.1% .013 17.38);
  --color-red-600: oklch(57.7% .245 27.325);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
